<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="alert alert-info display-1 text-center">LISTADO DE EMPLEADOS</div>
        {% if users %}

        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Rut</th>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Sueldo</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                {% for b in users %}
                <tr>
                    <td>{{ b.name }}</td>
                    <td> {{ b.father_surname }} </td>
                    <td> {{ b.mother_surname }} </td>
                    <td> {{ b.rut }} </td>
                    <td> {{ b.role.name }} </td>   
                    <td> {{ b.email }} </td>      
                    <td> {{b.sueldo}} </td>    
                    <td><a href="/actualizarUser/{{b.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i>Actualizar</a></td>
                    <td><a href="/eliminaruser/{{b.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-primary" role="alert">
            <strong>no  hya bnada</strong>
        </div>

        {% endif %}

    
        <a href="../agregarUser" class="btn btn-info float-end">AGREGAR</a>
        <a href="http://127.0.0.1:8000/interfaz_admin/">INICIO</a>
    
</body>
</html>