<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="alert alert-info display-1 text-center">LISTADO DE BOLETAS</div>
        {% if boletas %}

        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>direccion_venta</th>
                    <th>fecha_emision</th>
                    <th>numero_boleta</th>
                    <th>cantidad</th>
                    <th>monto</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                {% for b in boletas %}
                <tr>
                    <td> {{ b.id }} </td>
                    <td>{{ b.direccion_venta }}</td>
                    <td> {{ b.fecha_emision }} </td>
                    <td> {{ b.numero_boleta }} </td>
                    <td> {{ b.cantidad }} </td>
                    <td> {{ b.monto }} </td>            
                    <td><a href="/actualizarBoleta/{{b.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-primary" role="alert">
            <strong>no  hya bnada</strong>
        </div>

        {% endif %}

    
        <a href="../agregarBoleta" class="btn btn-info float-end">AGREGAR BOLETAS</a>
        <a href="http://127.0.0.1:8000/interfaz_admin/">INICIO</a>
    
</body>
</html>