<!DOCTYPE html>
<html>
<head>
    <title>Venta de Productos</title>
    <!-- Incluir jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Añadir estilos y scripts adicionales si es necesario -->
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="direccion_venta" value="Local">
        <input type="hidden" name="valor_total_venta" id="valor_total_venta" value="0.00">
        <!-- Los campos de Boleta se manejan en el backend, por lo tanto, no se muestran aquí -->

        <div id="formset-container">
            {% for form in detalle_formset %}
                <div class="detalle-form formset-form">
                    {{ form.as_p }}
                    <button type="button" class="delete-formset">Eliminar Producto</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-formset">Agregar Producto</button>
        <input type="submit" value="Generar Venta">
    </form>

    <div id="mensaje-valor-total" style="display:none;">
        <p>Valor Total de la Venta: <span id="valor-total"></span></p>
    </div>

    <script>
        $(document).ready(function() {
            var preciosProductos = {};
    
            // Función para cargar los precios de los productos
            function cargarPreciosProductos() {
                $.getJSON('/obtener-precios-productos/', function(data) {
                    preciosProductos = data;
                    $('.formset-form').each(function() {
                        calculateMonto($(this));
                    });
                });
            }
    
            cargarPreciosProductos(); // Cargar precios al iniciar
            let formsetContainer = $('#formset-container');
            let totalForms = $('#id_detalle_boleta_set-TOTAL_FORMS');
            let formsetForm = $('.formset-form').first().clone(); // Clona el primer formulario
    
            // Limpia los valores de los campos clonados
            formsetForm.find(':input').each(function() {
                $(this).val('');
            });
    
            function calculateMonto(form) {
                var cantidad = form.find('[name*=cantidad]').val();
                var productoId = form.find('[name*=producto]').val();
                var precio = preciosProductos[productoId] || 0; 
                var monto = cantidad * precio;
                form.find('[name*=monto]').val(monto);
            }
    
            formsetContainer.on('change', '[name*=cantidad], [name*=producto]', function() {
                var form = $(this).closest('.formset-form');
                calculateMonto(form);
            });
    
            function updateFormIndices() {
                formsetContainer.find('.formset-form').each(function(index) {
                    $(this).find(':input').each(function() {
                        var name = $(this).attr('name');
                        if (name) {
                            name = name.replace(/-\d+-/, `-${index}-`);
                            var id = `id_${name}`;
                            $(this).attr({'name': name, 'id': id});
                        }
                    });
                });
            }
    
            $('#add-formset').click(function() {
                let formCount = parseInt(totalForms.val());
                let newForm = formsetForm.clone();
    
                newForm.find(':input').each(function() {
                    var name = $(this).attr('name');
                    if (name) {
                        name = name.replace(/-\d+-/, `-${formCount}-`);
                        var id = `id_${name}`;
                        $(this).attr({'name': name, 'id': id}).val('');
                    }
                });
    
                formsetContainer.append(newForm);
                totalForms.val(formCount + 1);
                updateFormIndices();
            });
    
            // Eliminar un formulario
            formsetContainer.on('click', '.delete-formset', function() {
                $(this).closest('.formset-form').remove();
                let formCount = parseInt(totalForms.val());
                totalForms.val(formCount - 1);
                updateFormIndices();
            });
    
            // Enviar formulario y calcular el valor total
            $('form').submit(function(event) {
                event.preventDefault();
    
                var valorTotalVenta = 0;
                $('.formset-form').each(function() {
                    var monto = $(this).find('[name*=monto]').val();
                    valorTotalVenta += parseFloat(monto || 0);
                });
    
                $('#valor-total').text(valorTotalVenta.toFixed(2));
                $('#mensaje-valor-total').show();
                $('#valor_total_venta').val(valorTotalVenta.toFixed(2));
    
                // Enviar los datos del formulario usando AJAX
                $.ajax({
                    type: "POST",
                    url: '',  // La URL del endpoint de tu servidor que maneja el POST
                    data: $(this).serialize(),
                    success: function(response) {
                        // Manejar la respuesta exitosa aquí
                        alert("Venta realizada con éxito!");
                        $('form')[0].reset();
                    },
                    error: function(error) {
                        // Manejar errores aquí
                        alert("Ocurrió un error al realizar la venta.");
                        console.log(error);
                    }
                });
            });
    
            // Calcular el monto inicialmente para cada formulario
            $('.formset-form').each(function() {
                calculateMonto($(this));
            });
        });
    </script>
    
    
    
</body>
</html>
